In [69]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

In [71]:
response = requests.get('https://www.scrapethissite.com/pages/simple/')

In [72]:
html = response.content

In [73]:
soup = BeautifulSoup(html, 'html.parser')

In [77]:
countries = soup.find_all('div', class_='col-md-4 country')

In [79]:
country_data = []

In [81]:
for country in countries:
    country_name = country.find('h3', class_='country-name').get_text(strip=True)
    country_capital = country.find('span', class_='country-capital').get_text(strip=True)
    country_population = country.find('span', class_='country-population').get_text(strip=True)
    country_area = country.find('span', class_='country-area').get_text(strip=True)
    
    
    country_data.append({
        'country': country_name,
        'capital': country_capital,
        'population': country_population,
        'area': country_area  
    })

In [93]:
df = pd.DataFrame(country_data)

In [95]:
df

                  country           capital population       area
0                 Andorra  Andorra la Vella      84000      468.0
1    United Arab Emirates         Abu Dhabi    4975593    82880.0
2             Afghanistan             Kabul   29121286   647500.0
3     Antigua and Barbuda        St. John's      86754      443.0
4                Anguilla        The Valley      13254      102.0
..                    ...               ...        ...        ...
245                 Yemen             Sanaa   23495361   527970.0
246               Mayotte         Mamoudzou     159042      374.0
247          South Africa          Pretoria   49000000  1219912.0
248                Zambia            Lusaka   13460305   752614.0
249              Zimbabwe            Harare   11651858   390580.0

[250 rows x 4 columns]

In [97]:
df.to_csv('Country_data.csv', index=0)